body {
    background: rgba(170, 43, 43, 0.842);
    color: #fff;
  }
  h1 {
      font-style: italic;
      text-align: center;
    background: #333;
    color: #fff;
  }
  .navbar {
      font-style: italic;
      color: #333;
    border-bottom: grey 3px solid;
    opacity: 0.8;
  }
  #spc{
    background: rgba(95, 95, 94, 0.842);
    color: rgb(255, 221, 68);
}